table {
    vertical-align: middle !important;
    font-weight: normal;
}

table thead th {
    text-align: center;
    vertical-align: middle!important;
}

.navbar-nav .nav-item {
    padding: 0 10px;
}

.overflow-x {
    overflow-x: auto;
}

.nowrap {
    white-space: nowrap;
}

table select.form-control {
    min-width: 200px!important;
}
