table {
    vertical-align: middle !important;
    font-weight: normal;
}

th {
    text-align: center;
}

.navbar-nav .nav-item {
    padding: 0 10px;
}

.overflow-x {
    overflow-x: auto;
}

.nowrap {
    white-space: nowrap;
}
